# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm
__pycache__/
.idea/

# mkdocs documentation
/site

# input data and models_weights
input/
output/
models_weights/

# Data files
*.csv
*.h5
*.pkl
*.pth
